body {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

.header {
    background-color: #ffd633;
    height: 90px;
}

.header-logo {
    font-size: 36px;
    float: left;
    padding: 20px 40px;
}

.header-lis li {
    float: left;
    padding: 33px 80px;
}

.main {
    background-color: #00ffff;
    padding: 100px 80px;
}

.copy-container h1 {
    font-size: 140px;
}

.section-title {
    border-bottom: 2px solid #dee7ec;
}

.content {
    width: 1200px;
    height: auto;
    margin: 10px auto;
    text-align: justify;
}

.kolom-koran {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.contact-form {
padding-top: 50px;

}

input,textarea{
width: 400px;
margin-top: 10px;
margin-bottom: 30px;
padding: 20px;
font-size: 18px;
}

input,textarea{
    border: 1px solid #dee7ec;

}

.submit-contact {
    background-color: #dee7ec;
    color: black;
}

.footer {
    background-color: maroon;
    height: 120px;
    padding: 20px 40px;
}

.footer-logo {
    font-size: 30px;
    float: left;
}

.footer-list {
    float: right;
}

.footer-list li {
    padding-bottom: 20px;
}